* {
	box-sizing:  border-box;
}

body , html  {
	font-size:  16px;
	font-family: helvetica;
	background-color: burlywood;
	

}
#not_bolded {
	font-size: 1em;
}
/* Formatting for pictures */
figure {
	padding-bottom:  5px;
	display: block;
	max-width: 600px;
	margin: 0 auto;
}

figcaption {
	font-size: 0.75em;
	color: gray;
}

h1 {
	text-align: center;

}

img.main {
	display: block;
	width:  600px;
}
/* Formatting for icons */
img.icon {
	display:  block;
	width:  200px;
}
.container {
	width:  100%;
	margin:  0 auto;
	padding:  10px;

}
.container photo {
	padding:  0;
	
}
.big {
	display: block;
    max-width: 600px;
    margin: auto;
}

.flex{
	display:  inline-flex;
	margin: 0 auto;
	padding:  10px;
	text-align: left;
}
.flex > div{
	flex-bases:  30%;
}
/* Desktop and Mobile formats */
@media(min-width:  681px) {;
}

p {
	display: block;
	max-width: 600px;
	margin: auto;
}

@media(min-width 780px) {

}